#!/bin/bash
####################################################################
# set test options for specific environment (ordt assign is required, execs con be left blank to disable)
ordt="java -jar /Users/snellenbach/Documents/jrdl_work/Ordt.jar"
#
verilog_exec="iverilog"
verilog_err="error"
systemverilog_exec=
systemverilog_err="error"
uvm_exec=
uvm_err="error"
rdl_exec="$ordt -jspec temp.js"
rdl_err="ERROR"
js_exec="$ordt -rdl temp.rdl"
js_err="ERROR"
####################################################################
